//Variables

$website-width: 1280px;
// $main-color: #ffbc00;
$main-color: #04c2c9;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
$bg-image: url("../img/river.jpeg");
$light-green: #04c2c9;
