// @media (min-height: 980px) {
//   #header {
//     &-home {
//       .header-content {
//         padding-top: 350%;
//       }
//     }
// //   }
// }

@media (min-height: 900px) {
  #header-home {
    .header-content {
      padding-top: 400px;
    }
  }
}

@media (max-width: 500px) {
  #header-home {
    .navbar {
      li {
        padding: 1rem;
      }
      a {
        font-size: 13px;
      }
    }
    .header-content {
      padding-top: 200px;
      h1 {
        font-size: 2rem;
      }
      .btn-light {
        margin-top: 3rem;
        font-size: 13px;
        font-weight: bold;
        border-radius: 5px;
        padding: 0.5rem 1rem;
      }
    }
  }

  #about {
    .about-info {
      display: grid;
      grid-template-areas: "bioimage" "bio";
    }
    .bio {
      border-left: none;
      border-top: 3px solid $main-color;

      ul {
        img {
          width: 55px;
        }
        .colored {
          font-size: 3rem;
        }
      }
    }
  }

  .item-line {
    margin-top: 1rem;
  }

  .item {
    p {
      font-size: 0.9rem;
    }
    display: flex;
    flex-direction: column;
    &-image {
      width: 100%;
    }
    &-description {
      width: 100%;
    }
  }

  #contact {
    .text-field {
      display: inline-block;
      .text-input {
        margin-bottom: 1rem;
        width: 80%;
      }
    }
  }

  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}
