//General Styles
@import "config";
@import "utilities";
@import "item_grid";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
//Logo
#logo {
  width: 70px;
  height: 70px;
  color: white;
  text-transform: uppercase;
}

//Main Nav
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  width: 100vw;
  z-index: 10;
  ul {
    display: flex;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

.navbar.top {
  background-color: transparent;
  color: black;
}

//Header
#header {
  //header home
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      $bg-image no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
    .header-content {
      text-align: center;
      padding-top: 18%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }

      .btn-light {
        margin-top: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5px;
      }
    }

    //header content
  }
}
//About
#about {
  .about-info {
    display: grid;
    grid-template-areas: "bioimage bio bio";

    grid-gap: 1.2rem;
  }
  //Grid Area
  .bio-image {
    grid-area: bioimage;
    border-radius: 50%;
    align-self: center;
  }

  .bio {
    grid-area: bio;
    border-left: 3px solid $main-color;
    padding: 0.8rem;
    p {
      text-align: left;
      font-size: larger;
      a {
        color: $main-color;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .skillname {
        font-size: 1.2rem;
      }
      img {
        padding-top: 15px;
        width: 80px;
        &:hover {
          width: 85px;
        }
      }
      .colored {
        font-size: 5rem;
      }
    }
  }
}

//Contact
#contact {
  .text-field {
    display: grid;
    // grid-template-areas:
    //   "name email"
    //   "subject subject"
    //   "message message";
    grid-template-columns: auto;
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 1.2rem;
    .subject-input {
      grid-column: 1 / span2;
    }
    .message-input {
      grid-column: 1 / span2;
      height: 100px;
    }
    .text-input {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border: #ddd 1px solid;
      border-radius: 5px;
    }

    input:focus,
    textarea:focus {
      outline: 2px solid $main-color; /* oranges! yey */
    }
    textarea::-webkit-input-placeholder,
    input::-webkit-input-placeholder {
      font-family: "Dosis", sans-serif;
    }
  }
  button[type="submit"] {
    width: 50%;
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    align-items: center;

    .social i {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      color: #fff;

      &:hover {
        background: $main-color;
      }
    }
  }
}

@import "media";
